// --------------------------------
//
//        LAYOUTS
//
//---------------------------------


// Main-container
// ---------------------
.block {
  border: 1px solid rgba($black, .1);
  padding: 1rem;
  margin-bottom: 1rem;
}
