// color variables
$black: #000;
$deep-blue: #304556;
$grey: #eee;
$warm-blue: #467abb;
$warm-red: #bb4646;
$warm-yellow: #fcc640;
$white: #fff;



// Page loader
$loader-bg: $deep-blue;
$loader-color: $white;
$loader-name-bg: $warm-blue;