$icon-font-path: "../bower_components/bootstrap-sass/assets/fonts/bootstrap/";

// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

//==============================================================//
//                   Import all scss files
//==============================================================//

// Core variables and mixins
@import 'variables';
@import 'mixins';

// Base style
@import 'layouts';
@import 'types';

// Components
@import 'lists';
@import 'images';
@import 'page-loader';